# Ignore bundled output
/main.js

# Other common ignores
node_modules
*.log
.DS_Store
.aider*

# AI
.cursor
.cursorrules
.cursorignore
.gemini
.windsurf
.windsurfrules
.claude

# Misc
.vscode
.vault
